# ====================================================================
# 1. Daten-Ordner komplett ignorieren
# ====================================================================
#data/

# ====================================================================
# 2. KI-Modelle & Checkpoints ignorieren
# ====================================================================
#models/checkpoints/
#models/final/
#*.pth
#*.pt
#*.h5

# ====================================================================
# 3. Python & System-Müll
# ====================================================================
__pycache__/
*.py[cod]
.venv/
venv/
.DS_Store
.vscode/